/**
 * @file
 * Detailed rules for navigation items.
 */

@import "base";

#main-nav {
  .nav-links {
    border-top: 1px solid $black-25;
    margin: 73px 0 0 0;
    padding: 0;
    width: 220px;
        
    li {
      @include box-shadow(0px 1px 0px $white-10);
      border-bottom: 1px solid $black-25;
      padding: 7px $basemargin;
      
      &:first-child {
        border-top: 1px solid $white-10;
      }
      a {
        padding:0 0 0 30px;
        color: $white;
        text-decoration: none;
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        font-weight: 400;
        font-size: 14px;
      }
      &:nth-child(1) a {
        background-position: 0 -115px;
      }
      &:nth-child(2) a {
        background-position: 3px -154px;
      }
      &:nth-child(3) a {
        background-position: 0 -193px;
      }
      &:nth-child(4) a {
        background-position: 0 -235px;
      }
      &:nth-child(5) a {
        background-position: 3px -274px;
      }
      &:nth-child(6) a {
        background-position: 0 -315px;
      }
    }
  }
  .badge {
    background-color: $dark-blue;
    @include border-radius(4px);
    padding: 5px;
    @include box-shadow(0px 2px 0px $white-10);
  }
}

// -----------------------------------------------------------------------------
// On compact view.
@media all and (max-width: $screen-compact-max) {
  #main-nav {
    .nav-links {
      li {
        padding: 7px $basemargin 7px $basemargin / 2;
      }
    }
  }
}


// #############################################################################
// DEV: menu-toggle button.

.menu-toggle {
  background: gold;
  cursor: pointer;
  height: 30px;
  position: fixed;
  right: 30px;
  top: 30px;
  width: 30px;
  z-index: 1000;
}

